@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;1,400;1,600&display=swap');


:root{
   --lightblue:#2f359b;
}



*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 2s linear;
    
}

*::selection{
    background: var(--lightblue);
    color:black;  
}


.btn{
    display: inline;
    margin: .7rem;
    background: var(--lightblue);
    color: aliceblue;
    border: .1rem solid var(--lightblue);
    cursor: pointer;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: cornflowerblue;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 10%;
}

h1{
    color: black;
    font-size: 50px;
    text-align: center;
}

header.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: aliceblue;
    text-transform: uppercase;
}

header.logo span{
    color: var(--lightblue);
}

header .navbar a{
    color: aliceblue;
    font-size: 2rem;
    margin: 0.7rem;
}

header .navbar a:hover{
    color: var(--lightblue);
}

header.icons i{
    font-size: 3rem;
    color:aliceblue;
    cursor: pointer;
}


header .icons i:hover{
    color: var(--lightblue);
}

header.search-bar-container{
    position: fixed;
    top: 100%; right: 0%; left: 0%;
    padding: 2rem,3rem;
    background: #333;
    border-top: 6rem solid rgba(255, 255, 255, .2);
    display: flex;
    text-align: center;
    z-index: 1001;
    clip-path: polygon(0 0,100%,100% 0, 0 0);
}

header.search-bar-container.active{
    clip-path: polygon(0 0,100%,100% 0, 0 0);
}

header.search-bar-container #search-bar{
     width: 100%;
     padding: 2rem;
     text-transform: none;
     color: #333;
     font-size: 1.7rem;
     border-radius: .5rem;
}

header.search-bar-container label{
    color: aliceblue;
    cursor: pointer;
    font-size: 4rem;
    margin-left: 2rem;
}

header.search-bar-container label:hover{
      color: var(--lightblue);
}

.login-form-container{
    position: fixed;
    z-index: 100;
    top: 10%;left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-form-container .active{
top: 0;
}

.login-form-container form{
    margin: .5rem;
    padding: 0.5rem .5rem;
    border-radius: 0.2rem;
    background: aliceblue;
    width: 40rem;
    height: 20rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form.box{
    width: 50%;
    padding: 0.5rem;
    font-size: 1.7rem;
    color: #333;
    margin: 4rem 0;
    border: 1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}

.login-form-container form.box:focus{
    background-color: var(--lightblue);
}

.login-form-container form #remember{
    margin: .5rem 0;
}

.login-form-container form label{
    font-size: 1rem;
}

.login-form-container form.btn{
    display: block;
    width: 100%;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 0.7rem;
    color: #666;
}


.login-form-container form p a{
    color: var(--lightblue);
}

.login-form-container form p a:hover{
    color: #333;
    text-decoration:underline ;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: aliceblue;
    cursor: pointer;
}

#menu-bar{
    color: aliceblue;
    border: 1rem thin aliceblue;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem 1rem;
    cursor: pointer; 
}   























/*media queries */

@media(max-width:991px){

    header{
        padding: 2rem;
    }
}

@media(max-width:770px){

    #menu-bar{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top:100% ; right: 0;left: 0;
        background: #333;
        border-top: 0.1rem solid rgba(255, 255, 255, .2);
        padding: 1rem 2rem;
    }

    header .navbar a{
        display: block;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0;
        background: #222;
    }
}
